[user]
	name = suzuuuuu09
	email = 140299273+suzuuuuu09@users.noreply.github.com
[difftool "sourcetree"]
	cmd = "'' "
[mergetool "sourcetree"]
	cmd = "'' "
	trustExitCode = true
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[core]
	autocrlf = false
	pager = delta
	editor = nvim
	hooksPath = ~/.config/git/hooks
[merge]
	conflictStyle = zdiff3
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
  keep-plus-minus-markers=true
	line-numbers = true
[ghq]
	root=~/ghq
	user = suzuuuuu09
[pull]
	rebase = true
[rebase]
	autoStash = true
[credential "https://github.com"]
	helper = 
	helper = !/nix/store/8q6jczz4f4llbzn3ji6cfp7z4bhny5za-gh-2.100.0/bin/.gh-wrapped auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/nix/store/8q6jczz4f4llbzn3ji6cfp7z4bhny5za-gh-2.100.0/bin/.gh-wrapped auth git-credential
