# Nix
result

# Karabiner
.config/karabiner/automatic_backups/
.config/karabiner/assets/

# Sops age Private key
.config/sops/age/

# Yazi Plugins and themes
.config/yazi/plugins/
.config/yazi/flavors/

# fish
.config/fish/fish_variables

# pre-commit
/.pre-commit-config.yaml
/.direnv
