# Nix
.config/nix/result

# Karabiner
.config/karabiner/automatic_backups/
.config/karabiner/assets/

# Private key files
.config/sops/age/key.txt

# Yazi Plugins and themes
.config/yazi/plugins/
.config/yazi/flavors/
